header {
text-align: center;
background-color: green;
color:white;

}  

#menu {
list-style: none;
}


#menu li {
display:inline;
margin-right: 50px;
}


#menu a {
color: white;


}

#gallery {
display: flex;
flex-direction: column;

}

#gallery .image {

display: flex;
flex-direction: row;
font-size: larger;
}


#gallery img {
max-width: 400px;
margin: 20px;
margin-top: 0;
}

#intro {
    font-size: larger;
}

#main-photo {
width: 100%;
height: 550px;
overflow: hidden;

}

#main-photo img {
margin-top: -70px;

}

main {
width: 75%;
margin:0 auto;
}

h2 {
text-align: center;

}